/* Feuille de style */

/* import de police */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

[v-cloak] {
    display: none;
}

* {
    font-family: 'Montserrat';
}

body {
    background-color: rgb(229, 229, 229);
}

li {
    list-style: none;
    border-radius: 2px;
    padding: .3em;
}

li:hover {
    background-color: rgb(184, 30, 30);
    color: rgb(255, 244, 244);
}

.coord {
    font-size: 0.8em;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    size: 80%;
}

ul {
    display: none;
    max-height: 22em;
    width: 30em;
    overflow-y: scroll;
}


ul.active {
    display: block;
}

/* ul overflow scrollbar style */
ul::-webkit-scrollbar {
    width: 12px;
}

ul::-webkit-scrollbar-thumb {
    background-color: rgb(210, 210, 210);
    border-radius: 20px;
    border: 3px solid rgb(172, 169, 169);
}